*{
    box-sizing:border-box;
    margin: 0;
    font-family: Arial, sans-serif; /* Desconozco el estilo exacto de fuente. */
  }

.line{
width: 85%;
margin-left: 100px;
margin-right: auto;

  }
.header{
    background-image: url("../images/apple-pie.jpg");
    height: 1400px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
  color: white;
  font-size: 100px;  
}

.section_1{
  font-size: 35px;
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 150px;
  justify-content: center;
}
.intro{
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  
}
.recipe-info{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 20px;
  padding-bottom: 30px;
  }
.section_2_3{
    font-size: 25px;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 150px;
  }
.section-title{
  font-size: 35px;
  padding-bottom: 20px;
}
.ingredients-list{
  list-style-type: none;
  /* No he encontrado como hacer que la ul sea con guiones.*/
  font-size: 45px;
}
.coocking-info{
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 20px;
  padding-bottom: 30px;
  }
.direction-list{
    list-style-type: none;
    /* No he encontrado como hacer que la ul sea con guiones.*/
    font-size: 45px;

  }