
/* miscelania
Se podría unificar seguramente los "section-title" y "xxxx-list" porque tienen
mismos valores (al igual que otras clases/atributos pero he dejado la
estructura así para en un inicio ver los bloques y qué afecta cada bloque

Have fun!!
*/

*{
    box-sizing:border-box;
    margin: 0;
    font-family: Arial, sans-serif; /* Desconozco el estilo exacto de fuente. */
  }

body{
  font-size: 16px;
  }

  /* top web */
  .header{
      background-image: url("../images/apple-pie.jpg");
      height: 1400px;
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;
  }   
  .title{
    color: white;
    font-size: 8rem; 
  } 
  /* end top web*/

  /* first block*/
  .all-style{
    margin-left: 200px;
    margin-right: 200px;
    padding-bottom: 70px;
  }
  .section_1{
    padding-top: 70px;
    font-size: 3.2rem;
  }
  .image-info{ /* applies in second block too */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  /* end first block*/

  /* second block */
  .section-standar{ /* applies in third block too */
    padding-top: 60px;
    font-size: 3rem;
    }
  .section-title{ /* applies in third block too */
    padding-bottom: 50px;
  }
  .ingredients-list{
    list-style-type: none;
    /* No he encontrado como hacer que la ul sea con guiones.*/
    font-size: 2.7rem;
  }
  /* end second block */
  
  /* third block */
  .direction-list{
      list-style-type: none;
      /* No he encontrado como hacer que la ul sea con guiones.*/
      font-size: 2.7rem;
    }

  /* end third block */  

